apiVersion: apps/v1
kind: Deployment
metadata:
  name: authorservice
  labels:
    app: authorservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authorservice
  template:
    metadata:
      labels:
        app: authorservice
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: authorservice
          image: "jaekyung959/authorservice:v2"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
